@import '../ProgressBar/Styles/Variables.scss';

.app {
  text-align: center;
  color: $dark-gray;
  font-family: $font-family;
  font-size: $base-font-size;

  h1 {
    font-size: $h1-font-size;
  }
}

.demos {
  margin: 0 auto;
  width: 50%;
  text-align: left;

  .demo {
    margin-bottom: 40px;
  }
}

.demo-buttons {
  margin-bottom: 20px;

  .demo-button {
    margin-right: 20px;
    padding: 10px;
    background-color: $contrast;
    border-radius: $border-radius;
    border: none;
    color: $white;
    font-family: $font-family;
    font-size: $h2-font-size;
    transition: 0.3s;

    &:hover {
      background-color: darken($contrast, 20%);
    }
  }
}