@import '../ProgressBar/Styles/Variables.scss';

.progress-bar-demo-deco {
  color: #e69900;

  .progress-bar-track {
    border: 1px solid #e69900;
    border-radius: $border-radius;
  }

  .progress-bar {
    background: url('../glitter.jpg') repeat;
  }

  p {
    font-weight: bold;
  }
}