//COLORS
$med-gray: #808080;
$dark-gray: #666666;
$contrast: #ff4d4d;
$white: #fff;

//TYPE
$font-family: 'Avenir', 'Arial', 'sans-serif';
$base-font-size: 14px;
$h1-font-size: 2em;
$h2-font-size: 1.2em;

//OTHER
$border-radius: 3px;