.progress-bar-default-dimensions {
  height: 50px;
  width: 100%;

  .progress-bar {
    height: 100%;
  }
}

.progress-bar-default-deco {
  border: 1px solid blue;
  border-radius: 3px;

  .progress-bar {
    background-color: #000;
  }
}