.app {
  text-align: center;
  color: #666666;
  font-family: "Avenir", "Arial", "sans-serif";
  font-size: 14px; }
  .app h1 {
    font-size: 2em; }

.demos {
  margin: 0 auto;
  width: 50%;
  text-align: left; }
  .demos .demo {
    margin-bottom: 40px; }

.demo-buttons {
  margin-bottom: 20px; }
  .demo-buttons .demo-button {
    margin-right: 20px;
    padding: 10px;
    background-color: #ff4d4d;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-family: "Avenir", "Arial", "sans-serif";
    font-size: 1.2em;
    transition: 0.3s; }
    .demo-buttons .demo-button:hover {
      background-color: #e60000; }
